{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl ?? "" %}

{% set crumbs = [
    { label: "Payments", url: cpUrl('mollie-payments') },
    { label: form.title, url: cpUrl('mollie-payments?&source=form:' ~ form.handle) },
] %}

{% set title = "Payment for "|t('mollie-payments') ~ form.title ~' - '~ element.email %}
{% block header %}
    {{ block('pageTitle') }}
    {#    {{ block('actionButton') }} #}
{% endblock %}

{% set tabData = [] %}
{% if element.getFieldLayout() %}
    {% for tab in element.getFieldLayout().getTabs() %}
        {% set data = { label: tab.name, url: '#' ~ tab.getHtmlId()} %}
        {% set tabData = tabData|merge({ (tab.id) : data}) %}
    {% endfor %}
{% endif %}
{% set tabData = tabData|merge( {translactions: { label: 'Transactions'|t('mollie-payments'), url : "#tab-transactions"} }) %}

{% set tabs = tabData %}

{% hook 'cp.payments.edit' %}

{% block content %}

    {% if element.getFieldLayout() %}

        {% set form = element.getFieldLayout().createForm(element) %}
        <div id="fields">
            {{ form.render()|raw }}
        </div>
    {% endif %}



    <div id="tab-transactions" class="{% if tabs|length %}hidden{% endif %}">
        {% include 'mollie-payments/_payment/_transactions.twig' with {transactions : transactions } only %}
    </div>
    {% hook 'cp.payments.edit.content' %}
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        <div class="field">
            <div class="heading">
                <label>Status</label>
            </div>
            <div class="input ltr">{{ form.title }}</div>
        </div>
        <div class="field">
            <div class="heading">
                <label>{{ "Form"|t("mollie-payments") }}</label>
            </div>
            <div class="input ltr">{{ form.title }}</div>
        </div>
        <div class="field">
            <div class="heading">
                <label>{{ "Email"|t("mollie-payments") }}</label>
            </div>
            <div class="input ltr">{{ element.email }}</div>
        </div>
        <div class="field" id="amount-field">
            <div class="heading">
                <label>{{ "Amount"|t("mollie-payments") }}</label>
            </div>
            <div class="input ltr">{{ element.amount }} {{ form.currency }}</div>
        </div>
    </div>
    {% hook 'cp.payments.edit.details' %}
{% endblock %}