{% macro transactionRow(transaction, level, element) %}

    <tr class="infoRow">
        <td {{ 'Status'|t('mollie-payments') }}>
            {{ transaction.getStatusComponent()|raw }}
        </td>
        <td {{ 'Id'|t('mollie-payments') }}>
            {{ transaction.id }} {% if transaction.status != 'free' %}<a
                href="https://www.mollie.com/dashboard/payments/{{ transaction.id }}" rel="noopener" target="_blank"
                data-icon="world" title="View on mollie"></a>{% endif %}
        </td>
        <td {{ 'Amount'|t('mollie-payments') }}>{{ transaction.amount|currency(transaction.currency) }}
            <small class="light">({{ transaction.currency }})</small>
        </td>
        <td {{ 'Date'|t('mollie-payments') }}>{{ transaction.dateUpdated|date('j/m/Y H:i') }}</td>
        <td>
            <a href="{{ actionUrl('mollie-payments/payment/check-transaction-status', {'id': transaction.id, redirect: element.getCpEditUrl()}) }}">{{ "Check status?"|t('mollie-payments') }}</a>
        </td>
    </tr>

{% endmacro %}

{% if transactions|length %}
    {% from _self import transactionRow %}
    <table class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ 'Status'|t('mollie-payments') }}</th>
            <th scope="col">{{ 'ID'|t('mollie-payments') }}</th>
            <th scope="col">{{ 'Amount'|t('mollie-payments') }}</th>
            <th scope="col">{{ 'Date'|t('mollie-payments') }}</th>
            <th scope="col">{{ 'Check status?'|t('mollie-payments') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            {{ transactionRow(transaction, 0, element) }}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="light">{{ 'No transactions.'|t('mollie-payments') }}</p>
{% endif %}