{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# The title of this CP section #}
{% set title = "Forms" %}
{% set createUrl = url('mollie-payments/forms/add') %}

{% block actionButton %}
    {% if (not currentUser.admin and settings.anyoneCanAdd) or currentUser.admin %}
        <div id="button-container">
            <div class="btngroup submit">
                <a class="btn submit add icon" href="{{ createUrl }}">
                    {{ 'Create new form'|t('mollie-payment') }}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{# The content of the CP Section#}
{% block content %}
    {% if forms|length %}
        <table id="navigations" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ 'Name'|t('mollie-payments') }}</th>
                <th scope="col">{{ 'Handle'|t('mollie-payments') }}</th>
                <th scope="col">{{ 'Settings'|t('mollie-payments') }}</th>
                <th scope="col">{{ 'Remove'|t('mollie-payments') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for form in forms %}
                <tr data-id="{{ form.id }}" data-name="{{ form.title }}">
                    <th scope="row" data-title="Title">{{ form.title }}</th>
                    <td data-title="Handle"><code>{{ form.handle }}</code></td>
                    <td data-title="Settings">
                        {% if currentUser.admin %}
                            <a href="{{ url('mollie-payments/forms/'~form.id) }}" role="button"><span
                                        data-icon="settings"></span></a>
                        {% endif %}
                    </td>
                    <td class="thin">
                        {% if (not currentUser.admin and settings.anyoneCanAdd) or currentUser.admin %}
                            <a class="delete icon" title="Delete" role="button"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div id="noforms">
            {{ 'No forms found, click "Create new form" in the top right corner to get started'|t('mollie-payments') }}
        </div>
    {% endif %}
{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#forms',
    noItemsSelector: '#noforms',
    deleteAction: 'mollie-payments/forms/delete',
    confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?"|t('mollie-payments') }}',
    });
{% endjs %}
