{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/cp" %}

{# The title of this CP section #}
{% set title = "Forms" %}
{% set createUrl = url('mollie-payments/forms/add') %}
{% set selectedSubnavItem = 'forms' %}

{% set crumbs = [
    { label: "Payments", url: url('mollie-payments') },
    { label: 'Forms', url: '#' }
] %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}


{% block actionButton %}
    {% if (not currentUser.admin and settings.anyoneCanAdd) or currentUser.admin %}
        <div id="button-container">
            <div class="btngroup submit">
                <a class="btn submit add icon" href="{{ createUrl }}">
                    {{ 'Create new form'|t('mollie-payment') }}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{# The content of the CP Section#}
{% block content %}
    <div id="mollie-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for form in forms %}
    {% set tableData = tableData|merge([{
        id: form.id,
        title: form.title|t('app'),
        url: url('mollie-payments/forms/' ~ form.id),
        handle: form.handle,
    }]) %}
{% endfor %}
{% set actions = [] %}
{% set columns = [
    { name: '__slot:title', title: "Name" },
    { name: '__slot:handle', title: "Handle" },
    { name: 'id', title: "Id" },
] %}


{% js %}
    new Craft.VueAdminTable({
    container: '#mollie-vue-admin-table',
    columns: {{ columns|json_encode|raw }},
    tableData: {{ tableData|json_encode|raw }},
    deleteAction: 'mollie-payments/forms/delete',
    deleteConfirmationMessage: "{{ 'Are you sure you want to delete “{name}”?'|t('mollie-payments') }}",
    deleteSuccessMessage: "{{ '{name} deleted.'|t('mollie-payments') }}",
    emptyMessage: "{{ 'No forms exist yet.'|t }}",
    checkboxes: {{ craft.app.config.general.allowAdminChanges ? 0 : 0 }},
    allowMultipleSelections: false,
    actions: {{ actions|json_encode|raw }},
    });
{% endjs %}
