<div id="settings" class="meta">
    <div class="field" id="email-field">
        {% if subscriber is defined %}
            <div class="heading">
                <label>{{ "Status"|t("mollie-payments") }}</label>
            </div>
            <div class="input ltr">
                {{ element.getCpStatusItem()|raw }}
            </div>
        {% endif %}
    </div>
    {% if element.subscriptionId %}
        <div class="field" id="email-field">
            <div class="heading">
                <label>{{ "Subscription ID"|t("mollie-payments") }}</label>
            </div>
            <div class="input ltr">
                {{ element.subscriptionId }}
            </div>
        </div>
    {% endif %}
    <div class="field" id="email-field">
        <div class="heading">
            <label>{{ "Form"|t("mollie-payments") }}</label>
        </div>
        <div class="input ltr">
            {{ form.title }}
        </div>
    </div>
    <div class="field" id="email-field">
        <div class="heading">
            <label>{{ "Email"|t("mollie-payments") }}</label>
        </div>
        <div class="input ltr">
            {{ element.email }}
        </div>
    </div>
    <div class="field" id="amount-field">
        <div class="heading">
            <label>{{ "Amount"|t("mollie-payments") }}</label>
        </div>
        <div class="input ltr">
            {{ element.amount }} {{ form.currency }}
        </div>
    </div>
</div>
{% if element.status == 'active' and subscriber %}


    <a href="{{ actionUrl('mollie-payments/subscription/cancel', {
        'subscription' : element.id,
        'subscriber': subscriber.uid
    }) }}" class="btn" onclick="return confirm('{{ "Are you sure you want to cancel this subscription?"|t('mollie-payments') }}')"
    >{{ 'Cancel subscription'|t('mollie-payments') }}</a>



{% endif %}
{% hook 'cp.payments.edit.details' %}